#about{
    background-color: white;
    padding: 8rem 2rem;
}

.about{
    gap: 4rem;
}

.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.social{
    display: flex;  
    gap: 8rem;
}

.social ion-icon{
    font-size: 3rem;
    cursor: pointer;
    color: black;
    transition: 0.5s;
}

#logo-linkedin:hover{
    color: rgb(0, 72, 255);
}

#logo-github:hover{
    color: rgb(41, 41, 41);
}

.aboutDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.aboutDescription h1{
    font-size: 2.8rem;
}


.aboutDescription button{
    padding: 1rem 4rem;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    transition: 0.5s;
}

.aboutDescription button:hover{
    background-color: black;
    color: white;
}