#contact{
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
    padding: 1rem;
}

.info{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.info label{
    position: absolute;
    bottom: 0rem;
    transition: 0.2s;
}


.infoMessage{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    width: 100%;
}

.info label{
    font-weight: bold;
}

.infoMessage input{
    background-color: transparent;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    width: 100%;
    font-size: 1rem;

}

.infoMessage input:focus{
    outline: none;
}

.textMessage{
    background-color: transparent;
    border: 1px solid black;
    backdrop-filter: blur(10px);
    padding: 0.5rem 0.5rem;
    resize: none;
    width: 100%;
    height: 15rem;
    font-size: 1rem;
}

.textMessage::placeholder{
    color: black;
    font-size: 1rem;
}

.textMessage:focus{
    outline: none;
}

.buttonForm{
    background-color: var(--blackTheme);
    border: none;
    color: white;
    padding: 1rem 5rem;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid var(--blackTheme);
    width: 100%;
}

.buttonForm:hover{
    background-color: white; 
    color: black;
}