#home{
    padding: 8rem 2rem;
}

.home{
    flex-direction: column;
    padding: 0 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logoHome{
    width: 8rem;
}

.home h2{
    animation: colorTitle 2s infinite;
}

.pointer{
    cursor: pointer;
    position: absolute;
    right: 50%;
    left: 50%;
    top: 72%;
    transform: translate(-50%, 50%);
    animation: pointerAnimation 1s infinite;
    width: 6rem;
}



@keyframes pointerAnimation{
    50%{
        margin-top: 1rem
    }

    0%, 100%{
        margin-top: 0rem;
    }
}

@keyframes colorTitle{
    50%{
        color:rgb(36, 41, 68);
    }

    0%, 100%{
        color: rgb(82, 135, 181)
    }
}