#knowledge{
    padding: 4rem 2rem;
 
}

.technologies{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.tech h1{
    text-align: center;
    font-size: 2rem;
}

.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.slide .buttons{
    font-size: 2rem;
    cursor: pointer;
}

.cardSlide{
    box-shadow: 1px 1px 4px  black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    transition: 0.5s;
}

.cardSlide img{
    width: 10rem;
}

.cardSlide p{
    padding: 1rem;
}


