@media (min-width: 0px) and (max-width: 321px){
    
}

/*Media para quando o CELULARES estiver DEITADO*/
@media(max-height: 390px){
   
}

/*Media feita para responsividade de CELULARES*/
@media screen and (max-width: 892px) and (min-height: 400px){
    
    .header nav{
        display: none;
    }

    .logoArea h1{
        display: none;
    }

    .primaryLogo{
        display: none;
    }

    .logoResp{
        display: block;
    }

    .header{
        justify-content: center;
    }

    .logoHome{
        display: none;
    }


    .home h1{
        font-size: 2.4rem;
    }

    .home h2{
        display: flex;
        flex-direction: column;
    }

    #h1SecPart{
        display: none;
    }

    #point{
        display: none;
    }

}

/*Media para que quando a página for aberta em COMPUTADOR*/
@media screen and (min-width: 1226px){
    .menuArea{
        display: none;
    }

    .home h1{
        font-size: 2.8rem;
    }

    .home h2{
        font-size: 2.5rem;
        color: blue;
    }

}

/*Media feita para dimensão ENTRE a de CELULAR e a de COMPUTADOR*/
@media screen and (min-width: 893px) and (max-width: 1226px){
}