#projects{
    padding: 5rem 2rem;
    background-color: white;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.projects h1{
    font-size: 2rem;
}
.projects a{
    text-decoration: none;
    color: black;
}

.projects a:hover{
    text-decoration: underline;
}

.cards{
    display: flex;
    gap: 2rem;
}

.card {
    padding: 12rem 10rem;
    perspective: 1000px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    transition: 0.5s; 
    border: 1px solid black;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}

 
.front {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0 2rem;
    justify-content: space-around;
}

.back {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    transform: rotateY(180deg);
    padding: 1rem;
}

.back a button{
    border: 1px solid white;
    background-color: rgba(29, 29, 29, 0.723);
    cursor: pointer;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    transition: 0.2s;
}

.card1 .back{
    background: url("img/appleClone.jpeg") center no-repeat;
    background-size: cover;
}

.card2 .back{
    background: url("img/apiNasa.png") center no-repeat;
    background-size: cover;
}

.card3 .back{
    background: url("img/portfolio.jpeg") center no-repeat;
    background-size: cover;
}

.back a button:hover{
    background-color: rgb(78, 78, 78);
}

.card:hover .front {
    transform: rotateY(180deg); 
}
  
.card:hover .back {
    transform: rotateY(0); 
}.tec{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

#html, #css, #js, #node{ 
    font-weight: bold;
    border: 1px solid black;
    padding: 0.01rem 0.5rem;
}
#html{
    background-color: orange;
}
#css{
    background-color: cornflowerblue;
}
#js{
    background-color: yellow;
}
#node{
    background-color: greenyellow
}